<h2 class="page-header">Nuevo Libro</h2>
<form action="/books" method="POST">
  <%- include('_form_fields.ejs') %>
  <div class="btn-row form-row form-row-end">
    <a href="/authors" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Crear libro</button>
  </div>
</form>