<header>
  <nav class="header-nav">
    <a href="/" class="header-title">Biblio</a>
    <ul>
      <li><a href="/authors">Autores</a></li>
      <li><a href="/authors/new">Nuevo Autor</a></li>
      <li><a href="/books">Libros</a></li>
      <li><a href="/books/new">Nuevo Libro</a></li>
    </ul>
  </nav>
</header>