<h2 class="page-header">Nuevo Autor</h2>
<form action="/authors" method="POST">
  <%- include('_form_fields.ejs') %>
  <div class="btn-row form-row form-row-end">
    <a href="/authors" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Crear Autor</button>
  </div>
</form>