<h2 class="page-header"><%= author.name  %></h2>
<div class="btn-row">
  <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Editar</a>
  <%- include('../partes/deleteForm', {url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
  <h2 class="page-header">Libros del autor</h2>
  <%- include('../partes/bookGrid', {books: booksByAuthor}) %> 
<% } %>